<!DOCTYPE html>
<html>
<head>
</head>
<body class="nn_redirect_page" style="overscroll-behavior:contain;">
   <input type="hidden" id="url" value="{{nnPaymentUrl}}">
   <form method="post" name="novalnet_redirect_form" id="novalnet_redirect_form"  action="{{nnPaymentUrl}}">
   <button name="nn_redirect" id="nn_redirect">Submit</button>
   
   </form>
   <script type="text/javascript">
     
      jQuery('#nn_redirect').click(function(){
          window.location.href = jQuery('#url').val();
      });
   </script>
</body>
</html>


